<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>user_ragister</servlet-name>
        <servlet-class>user_ragister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkuser_login</servlet-name>
        <servlet-class>Checkuser_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_user</servlet-name>
        <servlet-class>Home_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkadmin_login</servlet-name>
        <servlet-class>Checkadmin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ragister_admin</servlet-name>
        <servlet-class>Ragister_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatepaasword</servlet-name>
        <servlet-class>Updatepaasword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepassword</servlet-name>
        <servlet-class>updatepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_profile</servlet-name>
        <servlet-class>User_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_rentalv_vehicle</servlet-name>
        <servlet-class>Add_rentalv_vehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetches_rental_rent</servlet-name>
        <servlet-class>Fetches_rental_rent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rental_book</servlet-name>
        <servlet-class>Rental_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_sell_vehicle</servlet-name>
        <servlet-class>Upload_sell_vehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_message</servlet-name>
        <servlet-class>Send_message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm_booking</servlet-name>
        <servlet-class>Confirm_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_booking</servlet-name>
        <servlet-class>Cancel_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget_password</servlet-name>
        <servlet-class>Forget_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_login_password</servlet-name>
        <servlet-class>update_login_password</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_ragister</servlet-name>
        <url-pattern>/user_ragister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkuser_login</servlet-name>
        <url-pattern>/Checkuser_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_user</servlet-name>
        <url-pattern>/Home_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkadmin_login</servlet-name>
        <url-pattern>/Checkadmin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ragister_admin</servlet-name>
        <url-pattern>/Ragister_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatepaasword</servlet-name>
        <url-pattern>/Updatepaasword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepassword</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_profile</servlet-name>
        <url-pattern>/User_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_rentalv_vehicle</servlet-name>
        <url-pattern>/Add_rentalv_vehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetches_rental_rent</servlet-name>
        <url-pattern>/Fetches_rental_rent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rental_book</servlet-name>
        <url-pattern>/Rental_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_sell_vehicle</servlet-name>
        <url-pattern>/Upload_sell_vehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_message</servlet-name>
        <url-pattern>/Send_message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm_booking</servlet-name>
        <url-pattern>/Confirm_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_booking</servlet-name>
        <url-pattern>/Cancel_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget_password</servlet-name>
        <url-pattern>/Forget_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_login_password</servlet-name>
        <url-pattern>/update_login_password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
